.str {
   width: 200px;
  
   border: 3px solid white;
   border-radius: 3px;
    
}
.colorBg{
    background: #1abc9c;
    height: 579px;
}

.soso{
    color: white;
}
.colorH2{
    border-radius: 5px ;
    border: 2px solid white;
    width: 231px;
    height: 65px;
    background: #1abc9c;
    color: white;
}